extends layout

block link
  -var selected = 'bookmarks';

block content
  h1 New Shiori
  form(action='bookmarks', method='post').pure-form
    input(type='text', name='url', size='80', placeholder='URL')
    input(type='submit', value='Shiori').pure-button
  if errors
    ul
    each error in errors
      li.alert-error #{error}
  h1 Shiori Listing
  form(action='bookmarks', method='get').pure-form
    input(type='text', name='q', size='60', placeholder='', value='#{q || ""}').pure-input-rounded
    input(type='submit', value='Search').pure-button
  p #{bookmarks.length} bookmark(s)
  if(bookmarks.length > 0)
  table
    each bookmark in bookmarks
     tr(valign='top', height='20')
        td
          img(src='#{"http://www.google.com/s2/favicons?domain_url=" + bookmark.url}')
        td
          a(href='#{bookmark.url}', target='_blank') #{bookmark.title}
        td
          span #{bookmark.url}
          //div #{bookmark.content.replace(/ +/, ' ').substring(0, 200)}
